<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title> {% block title %} {% endblock %}</title>
  </head>
  <body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-9">
      <li class="nav-item active">
        <a class="nav-link text-light font-weight-bold" href="{% url 'worstFilms:home' %} "> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" href="{% url 'worstFilms:create' %}"> Create <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" href="{% url 'about' %}"> About<span class="sr-only">(current)</span></a>
      </li>      
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link text-light" href="{% url 'account:dashboard' request.user.id %}"> dashboard<span class="sr-only">(current)</span></a>
      </li>      
      {% endif %}
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <form method= "POST" action= "{% url 'account:logoutUser' %}">
          {% csrf_token %}
          <button class= "btn btn-danger">logout</button>
          </form>
        </li>
      {% else %}
          <li class="nav-item active">
            <a class="nav-link text-light bg-primary" href="{% url 'account:loginUser' %} ">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-light bg-success" href="{% url 'account:signupUser' %} ">signup <span class="sr-only">(current)</span></a>
          </li>
        {% endif %} 
    </ul>
    {% block search %} {% endblock %}
  </div>
</nav>


  {% endblock %}
    <div class="container bg-light">
    {% include 'messages.html' %}
      {% block content %}
       
      {% endblock %}
    </div>

<script
  src="https://code.jquery.com/jquery-3.5.0.js"
  integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
  crossorigin="anonymous">
  </script>
  {% block js_files %}
  {% endblock js_files %}

</body>
</html>


